.search {
  height: 72px;
  width: 80%;
  margin: 40px auto;
  font-size: large;
  display: block;
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  outline: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.search::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
