.container {
  width: 100%;
  height: fit-content;
  bottom: 0;
  right: 0;
  color: white;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  background-attachment: fixed;
  object-position: 0% 25%;
}
